body, html {
    height: 100%;
}

nav, #overlay {
    z-index: 1;
}

nav {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-image {
    background-image: url(../assets/handsUp.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(2px);
}

#overlay {
    position: relative;
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 0;
}

#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.jumbotron {
    position: relative;
    top: 130px;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.text-outlined {
    color: white;
    text-shadow: 2px 2px 0 #000;
    font-weight: 300;
}

.text-yellow {
    color: rgb(255, 251, 122);
}

.text-grey {
    color: #cecece;
}

.fa-eye:before {
    font-family: FontAwesome, sans-serif;
    content: "\f06e";
    margin-right: 0.7em;
}

.bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 904px) {
    #overlay {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .card-grid {
        width: 100vw;
        margin: 0;
        padding: 0 20px;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto;
        grid-column-gap: 2.5rem;
        grid-template-areas: "left" "middle" "right";
        justify-items: center;
        position: relative;
        left: -35px;
    }

    .card-custom {
        max-width: 90vw;
    }
}

@media screen and (min-width: 905px) {
    #overlay {
        left: -40px;
    }

    .card-grid {
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-template-rows: auto;
        grid-column-gap: 2.5rem;
        grid-template-areas: "left middle right";
    }
}

.card-grid {
    display: grid;
}

.card-column-0 {
    grid-area: left;
}

.card-column-1 {
    grid-area: middle;
}

.card-column-2 {
    grid-area: right;
}

.card-custom {
    font-weight: 300;
    color: rgb(255, 251, 122);
    margin-bottom: 1.5rem;
    border: 0.2rem solid black;
    border-radius: 0;
}

.card-custom:hover {
    cursor: pointer;
}

.border-black {
    border: 0.1rem solid black;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.about-h {
    text-align: center;
    margin: 30px 0 60px 0;
}

@media screen and (max-width: 490px) {
    .about-h {
        font-size: 4rem;
    }
}

.av {
    margin-top: 30px;
    max-width: 175px;
    height: auto;
}

.name {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 30px;
}

.av:hover {
    cursor: pointer;
}
