body, html {
    height: 100%;
}

nav, #overlay {
    z-index: 1;
}

.bg-image {
    background-image: url(../assets/handsUp.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(2px);
}

#overlay {
    position: relative;
    padding: 50px;
}

#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.jumbotron {
    position: relative;
    top: 130px;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.text-outlined {
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    text-shadow: 2px 2px 0 #000;
}

.text-grey {
    color: #cecece;
}

.rg_embed_link {
    display: flex;
    float: left;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 500px;
    top: 60px;
}

.songTitle {
    position: absolute;
    left: 802px;
    top: 45px;
    color: #ffff64;
}

.artistName {
    position: absolute;
    left: 802px;
    top: 110px;
    color: white;
}

.producerName {
    position: absolute;
    left: 802px;
    top: 190px;
    font-size: 20px;
    color: lightgray;
}

.albumName {
    position: absolute;
    left: 802px;
    top: 220px;
    font-size: 20px;
    color: lightgray;
}

.displayVideo {
    position: absolute;
    left: 500px;
    top: 380px;
}

/* for mobile devices but doesnt work YET
@media screen and (max-width: 800px) {
    .img-fluid {
        height: auto;
        top: 11px;
    }
}
*/
