body, html {
    height: 100%;
}

nav, #overlay {
    z-index: 1;
}

.bg-image {
    background-image: url(../assets/handsUp.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(2px);
}

#overlay {
    position: relative;
    padding: 50px;
}

#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.jumbotron {
    position: relative;
    top: 130px;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.text-outlined {
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    text-shadow: 2px 2px 0 #000;
}

.text-grey {
    color: #cecece;
}

.fa-eye:before {
    font-family: FontAwesome, sans-serif;
    content: "\f06e";
    margin-right: 0.7em;
}

.bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}
