.rg_embed, .performances {
    background-color: rgba(0, 0, 0, 0.5);
}

.rg_embed,
.rg_embed_header a,
.rg_embed_body a,
.rg_embed a[data-id],
.rg_embed a[data-id]:visited,
.performances {
    color: white;
}

.rg_embed a[data-id] {
    background-color: rgba(153, 153, 153, 0.4);
}

@media screen and (max-width: 1205px) {
    .container {
        width: 100vw;
        margin: 50px 0 50px 0;
        padding: 0;
    }

    #overlay {
        width: 100vw;
        margin: 0;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto auto auto auto auto;
        grid-template-areas: "song" "video" "lyrics" "album" "info";
    }

    .song {
        grid-template-columns: 100vw;
        grid-auto-rows: max-content max-content;
        grid-column-gap: 5px;
        grid-template-areas: "cover" "info";
    }

    .song-info {
        padding-bottom: 1rem;
    }

    .performances {
        width: 100%;
    }
}

@media screen and (min-width: 1205px) {
    #overlay {
        display: grid;
        grid-template-columns: max-content auto;
        grid-auto-rows: max-content min-content min-content auto;
        grid-column-gap: 30px;
        grid-template-areas: "song song" "lyrics video" "lyrics info" "lyrics nothing";
    }

    .song {
        grid-template-columns: min-content auto;
        grid-auto-rows: max-content;
        grid-column-gap: 10px;
        grid-template-areas: "cover info";
    }

    .song-info {
        padding-bottom: 10rem;
    }
}

.song {
    grid-area: song;

    display: grid;
    align-items: center;
    text-shadow: 2px 2px 0 #000;
    color: white;
}

.cover-wrapper {
    grid-area: cover;
    background-image: linear-gradient(to bottom right, rgb(255, 251, 122), rgba(250, 250, 250, 0.79));
    padding: 5px;
    max-width: 310px;
    height: auto;
}

.song-info {
    grid-area: info;
}

.lyrics {
    grid-area: lyrics;
    margin-top: 10px;
}

.video {
    grid-area: video;
    margin-top: 20px;
}

.performance {
    grid-area: info;
}

.artist-name {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.song-title {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.img-cover {
    max-width: 300px;
    height: auto;
}

.performances {
    margin-top: 20px;
    padding: 10px 10px 6px 10px;
}

.performance {
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.text-yellow,
.artist-name {
    color: rgb(255, 251, 122);
}
