.img-fluid {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .img-fluid {
        position: absolute;
        left: 500px;
        top: 60px;
    }
}

@media (min-width: 1200px) {
    .album-image {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 500px;
        top: 375px;
    }
}

.artist-name {
    color: white;
    font-size: 30px;
}

@media (min-width: 1200px) {
    .artist-name {
        position: absolute;
        left: 815px;
        top: 38px;
        font-size: 55px;
    }
}

.song-title {
    color: #ffff64;
    font-size: 30px;
}

@media (min-width: 1200px) {
    .song-title {
        position: absolute;
        left: 815px;
        top: 103px;
        font-size: 45px;
    }
}


.album {
    color: white;
    font-size: 30px;
}

@media (min-width: 1200px) {
    .album {
        position: absolute;
        left: 815px;
        top: 355px;
        font-size: 55px;
    }
}

.album-name {
    color: #ffff64;
    font-size: 30px;
}

@media (min-width: 1200px) {
    .album-name {
        position: absolute;
        left: 815px;
        top: 410px;
        font-size: 45px;
    }
}
